body {
    margin: 0;
    overflow: hidden;
    background-color: #11111a;
    width: 100vw;
    height: 100vh;
}

a {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    text-decoration: none;
    color: inherit;
}


#scene-container {
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    z-index: 0;
}

.center {
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    z-index: 1;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    opacity: 0;
    transition: opacity 0.2s;
}

#list {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.2s;
}

#list a {
    cursor: pointer;
}

.hoverable {
    color: #fff9;
    transition: color 0.1s;
}

.hoverable:hover {
    color: #ffff;
    cursor: pointer;
}

#next {
    cursor: pointer;
}

